<!DOCTYPE html><html><head>
    <title>Report</title>
    <style>body { text-align: center; }.container { margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; max-width: 600px; }table { width: 100%; border-collapse: collapse; margin-top: 20px; }th, td { border-top-color: rgb(204, 204, 204); border-top-style: solid; border-top-width: 1px; border-right-color: rgb(204, 204, 204); border-right-style: solid; border-right-width: 1px; border-bottom-color: rgb(204, 204, 204); border-bottom-style: solid; border-bottom-width: 1px; border-left-color: rgb(204, 204, 204); border-left-style: solid; border-left-width: 1px; padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; }</style>
</head>
<body>
    <div class="container">
        <h1 id="header">main header</h1>
        <table>
            <thead>
                
            <tr><td>Column 1</td><td>Column 2</td><td>Column 3</td></tr></thead>
            <tbody>
                
            <tr><td>Row 1 Data 1</td><td>kjhgfds 1 Data 2</td><td>Row 1 Data 3</td></tr><tr><td>Row 2 Data 1</td><td>Row 2 Data 2</td><td>Row 2 Data 3</td></tr><tr><td>Row 3 Data 1</td><td>Row 3 Data 2</td><td>Row 3 Data 3</td></tr><tr><td>Row 3 Data 1</td><td>Row 3 Data 2</td><td>Row 3 Data 3</td></tr></tbody>
        </table>
    </div>


</body></html>